**/.DS_Store

data/*
!data/.gitkeep

!data/png/.gitkeep
!data/processed/.gitkeep
!data/raw/.gitkeep
!data/scalers/.gitkeep

models/*
!models/.gitkeep

output/*
!output/.gitkeep

polar/*
!polar/.gitkeep

results/*
!results/.gitkeep

msc230/__pycache__/*

memo.txt

